.edit-business-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 22%;
}

.edit_form_requirements{
    position: relative;
    left: 50px;
}

.edit_business_errors{
    font-size: 13px;
    position: relative;
    bottom: 20px;

}

.edit-business-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: transparent !important;
    font-family: 'Montserrat', sans-serif;
}

.edit-business-input-dropdown {
    box-sizing: border-box;
    /* width: 100%; */
    width: 97.5px;
    padding: 12px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: transparent !important;
    font-family: 'Montserrat', sans-serif;
}

.edit-business-input-ampm {
    box-sizing: border-box;
    /* width: 100%; */
    width: 97.5px;
    padding: 12px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: transparent !important;
    font-family: 'Montserrat', sans-serif;
}
