#menuitemspage-container {
  display: flex;
  position: relative;
  top: 50px;
}

.menuitemspage-button {
  height: 25px;
}

.menu-items-page-button{
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  width: 200px;
  height: 35px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  left: 42%;
  top: 270px;
}
