/* TODO Add site wide styles */

.form-outer-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 25px;
}

#root {
  font-family: 'Open Sans', sans-serif;
}


.form-field-labels {
  position: relative;
  /* left: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  font-weight: 600;
}

.form-field {
  width: 500px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgrey;
  /* margin-left: 18px; */
  /* width: 100%; */
}

.select-input-field {
  /* width: 523px; */
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  /* margin-left: 18px; */
}

/* .errors_container {
  position: relative;
  top: 50px;
  left: 30px;
} */

.errorMessageContainer {
  display: flex;
  color: red;
}

.form-button {
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  height: 42px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-header {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

a {
  text-decoration: none;
  color: #ff0000;
}
/* #modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  width: 600px;
}

form {
  border-radius: 20px;
  width: 559px;
  margin-bottom: 5px;
  padding: 21px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
}

.newReview_error{
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  color: red;
  margin-bottom: 12px;
  margin-left: 19px;
}

.newSpot_error {
  color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 19px;
}

.login_error{
  color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 19px;
}

.signup_error {
  color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 19px;
} */
