#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px; */
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  width: 600px;
}

form {
  border-radius: 20px;
  width: 559px;
  margin-bottom: 5px;
  padding: 21px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
}

input {
  /* background-color: initial!important; */
  /* border: rgb(19, 17, 17); */
  width: 500px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.newReview_error{
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  color: red;
  margin-bottom: 12px;
  margin-left: 19px;
}

.newSpot_error {
  color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 19px;
}

.login_error{
  color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 19px;
}

.signup_error {
  color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 19px;
}

body {
  padding-bottom: 50px;
}
