.menu-item-card {
    height: 201px;
    width: 192px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

.menu-item-image {
    display: flex;
    width: 192px;
    height: 150px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.menu-item-name {
    font-size: 16px;
    font-weight: 700;
}

.menu-item-price {
    font-size: 14px;
    color: rgba(110,112,114,1);
    line-height: 20px;
}

.menu-item-delete {
    cursor: pointer;
}
