.select-form-field-time {
  box-sizing: border-box;
  /* width: 100%; */
  width: 261px;
  padding: 10px;
  border: 1px solid #dadada;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 42px;
}

.create-business-button-container {
  display: flex;
  justify-content: center;
}

.form-button-create-business {
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  height: 42px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.create-business-form-requirements {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
