.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 70px;
  box-sizing: border-box;
}

.navbar-logo {
  height: 65px;
  width: 170px;
}

.navbar-search-bar {
  border: 1px solid black;
  height: 40px;
  width: 700px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.navbar-create-business {
  cursor: pointer;
  /* margin-right: 150px; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
