.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 24px;
  box-sizing: border-box;
}

.navbar-logo {
  height: 65px;
  width: 170px;
}

.navbar-create-business {
  cursor: pointer;
  margin-right: 150px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
