.review-card{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  width: 50%;
  left: 22%;
  border: 1px solid lightgray;
}

#edit_my_review {
  background-color: #ff0000;
  color: white;
  /* font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 200px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.review-card-container {
  border: 1px solid black;
  width: 100%;
}

.review-card-upper {
  margin-bottom: 24px;
}

.review-card-middle {
  margin-bottom: 12px;
}

.review-card-bottom {
  word-wrap: break-word;
  max-width: 655px;
}
